@font-face {
    font-family: "Carnevalee Freakshow";
    src: local("Carnevalee Freakshow"),
      url("./fonts/Carnevalee Freakshow.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Kalam-Bold";
    src: local("Kalam-Bold"),
      url("./fonts/Kalam-Bold.ttf") format("truetype");
    font-weight: normal;
}

img{
    width: 33vw;
    height: 35vh;
    transition: 0.4s;
    animation: shakeY; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s /* don't forget to set a duration! */
}

img:hover{
    transform: scale(1.1);
}

.image{
    margin-bottom: -50px;
    margin-top: 20px;
}

.flippy{
    margin-top: -30px;
}